Source: mygestures
Section: x11
Priority: optional
Maintainer: Lucas Augusto Deters <lucasdeters@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libxrender-dev, libx11-dev, libxtst-dev, libc6-dev, libxml2-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/mygestures/
#Vcs-Git: git://git.debian.org/collab-maint/mygestures.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mygestures.git;a=summary

Package: mygestures
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Small mouse gestures utility for X11
 mygestures allows recognizing gestures made with your mouse and perform actions such as execute programs or send keystrokes.
