#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/mygestures debian/mygestures/usr/bin/mygestures
	install -D -m 755 target/release/gestos debian/mygestures/usr/bin/gestos
